<div class="ui-widget">
  <header class="ui-widget-h1-header">Feedback</header>
  <div class="ui-widget-list">
    <div class="ui-dialog-content ui-widget-content">
      <div class="ui-grid ui-grid-responsive ui-fluid ui-grid-pad">
        <p-messages [value]="infomessage"></p-messages>
        <p-messages [value]="errorMessage"></p-messages>
        <div class="ui-grid-row">
          <div class="ui-grid-col-4">
            <label for="Feedback_Type">Feedback Option Type</label>
          </div>
          <div class="ui-grid-col-4">
            <p-dropdown [options]="feedbackTypes" [(ngModel)]="selectedfbtype" placeholder="Select Feedback Type" [showClear]="true"></p-dropdown>
          </div>
        </div>
      </div>
    </div>
    <footer>
      <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
        <button type="button" pButton icon="pi pi-inbox" (click)="SendEmail()" label="Send"></button>
      </div>
    </footer>
  </div>
</div>