// Helpers
///////////////////////////////

.vl-u-center {
    display: block;
    margin: 0 auto;
    float: none;
}

.vl-u-center-inline {
    text-align: center;
}

.vl-u-margintop-1 {
    margin-top: 1rem;
}

.vl-u-margintop-2 {
    margin-top: 2rem;
}

.vl-u-margintop-3 {
    margin-top: 3rem;
}


